.preloader {
    position: fixed;
    top: 0;
    left: 0;
    bottom:0;
    right:0;
    width: 100%;
    height: 100%;
    z-index: 99999999;
    background-image: url('../assets/loading.gif'); /* your icon gif file path */
    background-repeat: no-repeat;
    background-color: #000000;
    background-position: center;
}

