body{
    font-family: 'Poppins', sans-serif
  }
  
  .tableWrap{
      display: block;
      width:100%;
      margin-top:50px;
      overflow-x: auto;
  }
  
  .usersTable {
      border-collapse: collapse;
      width: 90%;
      max-width:1000px;
      margin:auto;
      border-radius: 5px;
    }
    
    .usersTable td, .usersTable th {
      padding: 6px;
    }
    
    .usersTable tr:nth-child(even){background-color: #f7f7f7;}
    
    .usersTable tr:hover {background-color: #ddd;}
  
    .usersTable tr{
        text-align: center;
    }
    
    .usersTable th {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: left;
      background-color: #4CAF50;
      color: white;
    }
  
  .swal2-content{
    font-family: 'Poppins', sans-serif;
  }
  
  label {
    font-family: 'Poppins', sans-serif;
  }

  #newUser{
    background-color: rgb(231, 231, 231);
  }
